<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyCode.Properties.Settings>
            <setting name="plagiatPercent" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="maximumSymbols" serializeAs="String">
                <value>25000</value>
            </setting>
        </MyCode.Properties.Settings>
    </userSettings>
</configuration>